.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portfolio__item {
    text-align: justify;
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
    height: 30%;
}

.portfolio__item h3 {
    text-align: center;
    margin: 2rem 0;
}

.portfolio__item p {
    margin-top: 1.5rem; /* Aggiungi spazio sopra la descrizione */
    margin-bottom: 1.5rem; /* Mantieni un po' di spazio sotto */
    font-size: 0.9rem;
}

.portfolio__item-cta {
    display: flex;
    justify-content: center; /* Centra i pulsanti orizzontalmente */
    align-items: center; /* Centra i pulsanti verticalmente */
    gap: 1rem;
    margin-bottom: 2rem; 
}

.portfolio__item-content {
    height: 50%;
}

@media screen and (max-width: 1024px){
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}
  
@media screen and (max-width: 600px){
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}

/* Contenitore per titolo e immagini */
.portfolio__item-icons-text {
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra orizzontalmente */
    gap: 10px; /* Spazio tra le immagini e il testo */
}

/* Stile per le immagini */
.icon-left,
.icon-right {
    width: 40px; /* Dimensione dell'immagine */
    height: 40px; /* Mantieni proporzioni */
    filter: invert(1); /* Rende l'icona bianca */
}

/* Titolo del progetto */
.portfolio__item-icons-text h3 {
    margin: 0;
    text-align: center;
}


@media screen and (max-width: 600px) {
    .portfolio__item p {
        margin-bottom: 3.5rem; /* Aumenta lo spazio sotto per schermi piccoli */
    }
    .portfolio__item-cta {
        margin-top: 1.5rem; /* Assicura spazio adeguato tra il pulsante e il testo */
    }
}